@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body html{
  font-family:  "Helvetica", "Arial", sans-serif;;
}
.bar{
  display: block;
  background-color: grey;
  width: 75%;
  height: 4px;
}
.innerbar{
  display: block;
  background-color: white;
  height: 4px;
}
.innerbar:hover{
  opacity: 1;
  transition: width 100% ease-in forwards;
}
.iconbg {
  background-color: rgba(0, 0, 0, 0.2);
}
.card1{
  background: linear-gradient(45deg, #2ed8b6, #a0f6e5);
}
.card2{
  background: linear-gradient(45deg, #ffb64d, #f8ce93);
}
.card3{
  /* background: linear-gradient(45deg, #4099ff, #8cb9ec); */
  background-color: #ee543a;
}
.card4{
  background: linear-gradient(45deg, #ff5370, #ec9eab);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
