@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.bar{
  display: block;
  background-color: grey;
  width: 75%;
  height: 4px;
}
.innerbar{
  display: block;
  background-color: black;
  height: 4px;
}
.innerbar:hover{
  opacity: 1;
  transition: width 100% ease-in forwards;
}
.iconbg {
  background-color: rgba(0, 0, 0, 0.2);
}


.chartswidth{
  width: 50%;
}
.charts{
  display: flex;
  justify-content: space-evenly;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-spinner .ant-spin-dot-item {
  background-color: #ff6347 !important; /* Change to your desired color, e.g., tomato */
}


.main-container {
  height: 100vh; /* Full height of the viewport */
  width: 100%;
  display: flex;
}

.header-container {
  position: fixed;
  width: 100%;
  background-color: white; /* Or whatever background suits the design */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add some shadow if needed */
}
.scroll-hiddden::-webkit-scrollbar{
  display: none;
}

.content-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row; /* Ensure proper row direction */

}

.sidenav-container {
  position: fixed;
  left: 0; 
  top: 0;
  height: 100vh;
  background-color: white; /* Adjust as per your design */
  z-index: 1000;
  flex-grow: 0;
}

.content-area {
      flex-grow: 1;
}

.h-350{
  height: 426px;
}
.mt-16 {
  margin-top: 64px;
}
.calendar-container {
  margin-left: 260px; /* Space for fixed sidenav */
  margin-top: 20px; /* Adjust spacing */
  z-index: 0;
}

.fontstyle {
  font-family: 'Poppins' !important;
}
.transition-width {
  transition: width 0.3s ease;
}
.menu-title {
  display: none;
}